.container {
  .titleSection {
    text-align: center;

    h1 {
      margin-bottom: -15px;
    }
  }

  .qrSection {
    border: 1px solid var(--black_900);
    max-width: 265px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px !important;
    margin-top: 30px !important;
    font-weight: 500;
    font-size: var(--text_xm);
    line-height: 16px;
    color: var(--black_900);
  }

  .linkBox {
    width: 100%;
    display: flex;
    gap: 10px;

    button > div {
      border-radius: unset !important;
    }

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100% !important;
      height: 45px !important;
      margin-bottom: 0px !important;
      background-color: var(--white_200);
      border: 1px solid var(--gray_350);
      border-radius: 4px;

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 16px;
        color: var(-gray_1000);
        margin: 0px !important;
      }
    }

    .button {
      display: flex;
      flex-direction: column-reverse;
      height: 45px !important;
      width: max-content;
      gap: 2px !important;
      padding: 5px 15px !important;
      border-radius: 4px !important;
      border-color: var(--rose_600);

      span {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
}
