.signupFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 550px;
  min-height: 100%;

  .signUpButton {
    width: 100% !important;

    p {
      margin: 0;
    }
  }

  .inputsContainer {
    display: flex;
    flex-direction: column;

    .passwordContainer {
      width: 100%;
      display: flex;
      column-gap: 20px;
      justify-content: space-between;
      position: relative;

      .error {
        color: var(--red_900);
        font-size: var(--text_xs);
        font-weight: 0px;
        position: absolute;
        right: 20%;
        bottom: 5%;
      }

      :global(.ant-input-suffix) {
        svg {
          fill: var(--black_500) !important;
        }
      }
    }

    .formItem {
      width: 100%;

      label {
        margin-bottom: 6px;
      }
    }

    .formItemPassword {
      label {
        margin-bottom: 6px;
      }
    }

    .formInput {
      border-radius: 5px;
      height: 40px;
      border: 1px solid var(--gray_900);
    }

    .formEmailInput {
      display: flex;
      flex-direction: row-reverse;
      border-radius: 5px;
      height: 40px;
      border: 1px solid var(--gray_900);
    }

    .formEmailSuccess {
      display: flex;
      flex-direction: row-reverse;
      border-radius: 5px;
      height: 40px;
      border: 1px solid var(--button_copy_link);
      box-shadow: none;
    }

    .recaptcha {
      transform: scale(0.71);
      -webkit-transform: scale(0.71);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      margin: 15px 80px 0 0;
    }
  }

  :global(.ant-form-item-explain-error) {
    font-size: var(--text_xs) !important;
  }
}

.signupHeader {
  color: var(--black_900);
  margin-bottom: 34px;
  font-size: var(--text_xl);
  font-weight: 600;
}

.loginText {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 25px;
  column-gap: 10px;
  color: var(--black_900);

  span {
    font-size: var(--text_tiny);
  }

  a {
    font-weight: 600;
  }
}

.authButtonsContainer {
  display: flex;
  justify-content: center;
  column-gap: 10px;

  .authBtn {
    padding: 10px;
    background-color: var(--white_400);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover {
      box-shadow: var(--shadow_black);
      cursor: pointer;
      transition: 0.3s;
    }
  }
}

.formSuccess {
  border: 1px solid var(--button_copy_link) !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  height: 40px !important;
}

.formFail {
  border: 1px solid var(--red_900) !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  height: 40px !important;
}

.checkboxContainer {
  :global(.ant-checkbox-inner::after) {
    border-color: var(--black_300) !important;
  }

  :global {
    .ant-checkbox-inner {
      border-color: var(--gray_800) !important;
      background-color: var(--white_900) !important;
    }

    :global(.ant-checkbox-checked:after) {
      border-color: var(--black_300) !important;
    }
  }
}

@media screen and(max-width: 1240px) and(min-width: 700px) {


  .signupFormContainer {
    width: 300px;

    .signupHeader {
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: var(--text_lg);
    }

    .inputsContainer {
      .passwordContainer {
        .error {
          right: 5%;
        }
      }

      .formItem {
        width: 300px;
        height: 25px;
        margin-bottom: 40px;
      }

      .formEmailInput {
        height: 30px;
      }

      .checkboxContainer {
        label {
          font-size: var(--text_xsm);

          .linkBox {
            font-size: var(--text_xsm);
          }
        }

        span {
          font-size: var(--text_xsm);
        }

        a {
          font-size: var(--text_xsm);
        }
      }

      .formInput {
        height: 30px;
      }

      .recaptcha {
        transform: scale(0.51);
        -webkit-transform: scale(0.51);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        margin: 10px 0 0 0;
      }
    }

    .signUpButton {
      height: 30px !important;
    }
  }
}


@media screen and(max-width: 700px) {
  .signupFormContainer {
    margin-top: 150px;
  }
}

@media screen and (max-width: 576px) {
  .signupFormContainer {
    width: 100%;

    .passwordContainer {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 375px) {
  .signupFormContainer {
    width: 100%;
  }

  .checkboxContainer {

    label {
      align-items: center;
      font-size: var(--text_min);

      .linkBox {
        font-size: var(--text_min);
      }
    }

    span {
      font-size: var(--text_min);
    }

    a {
      font-size: var(--text_min);
    }
  }
}
