.container {
  display: flex;
  column-gap: 25px;
  align-items: center;
  margin-top: 25px;

  .userName {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: var(--blue_900);
  }
  
  p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey_950);
  }
}
