.searchInput {
  display: flex;
  border-radius: 8px;
  padding: 5px 6px;
  column-gap: 4px;
  border: 1px solid var(--gray_500);
  .input {
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
