.container {
  h2 {
    font-weight: 700;
    font-size: 32px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }

  .inputsContainer {
    .passwordContainer {
      width: 100%;
      display: flex;
      column-gap: 20px;

      :global(.ant-form-item-has-error) {
        max-width: 185px !important;
      }
    }

    .formItemPassword {
      width: 240px;

      label {
        margin-bottom: 5px;
      }
    }

    .formInput {
      width: 240px;
      border-radius: 5px;
      height: 40px;
      border: 1px solid var(--gray_900);

      :global(.ant-input-suffix) {
        svg {
          fill: var(--black_300);
        }
      }
    }

    .signUpButton {
      width: 200px !important;

      p {
        margin: 0;
      }
    }
  }
}

.notification {
  margin: 80px 200px;
  height: 135px;
  padding-top: 30px;

  :global(.ant-notification-notice-message) {
    font-weight: 500;
    font-size: var(--text_base);
  }

  :global(.anticon-check-circle) {
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

@media screen and(max-width: 1200px) {
  .container {
    h2 {
      font-size: var(--text_lg);
      margin-bottom: 10px;
    }

    p {
      width: 400px;
    }

    .inputsContainer {
      .passwordContainer {
        display: flex;
        flex-direction: column;
      }

      .formInput {
        width: 380px !important;
      }

      .signUpButton {
        width: 380px !important;
      }
    }
  }
}

@media screen and(max-width: 576px) {
  .container {
    h2 {
      font-size: var(--text_lg);
    }

    p {
      width: 335px;
    }

    .inputsContainer {
      .passwordContainer {
        display: flex;
        flex-direction: column;
      }

      .formInput {
        width: 335px !important;
      }

      .signUpButton {
        width: 335px !important;
      }
    }
  }
}

@media screen and(max-width: 400px) {
  .container {
    p {
      width: 280px;
    }

    .inputsContainer {
      .passwordContainer {
        display: flex;
        flex-direction: column;
      }

      .formInput {
        width: 280px !important;
      }

      .signUpButton {
        width: 280px !important;
      }
    }
  }
}
